@using UmbracoLearning.Domain.Content;
@inherits UmbracoViewPage<ArticlesMain>

@{
Layout = "Master.cshtml";
}
    <div id="main-container">
        <div id="main" class="wrapper clearfix">
            <section>
                <p>@Model.ArticlesBodyText</p>
                <h2>@Model.ArticlesTitle</h2>  
                @Umbraco.RenderMacro("listArticles")
            </section>
        </div> <!-- #main -->
    </div> <!-- #main-container -->
