@using UmbracoLearning.Domain.Content;
@inherits UmbracoViewPage<ArticlesItem>

@{
Layout = "Master.cshtml";
}
    <div id="main-container">
        <div id="main" class="wrapper clearfix">
            <section>
                <h2>@Model.ArticleTitle</h2>
                <p>@Model.ArticleContents</p>
            </section>
        </div> <!-- #main -->
    </div> <!-- #main-container -->
