@using UmbracoLearning.Domain.Content;
@inherits UmbracoViewPage<SimpleContentPage>
    @{
    Layout = "Master.cshtml";
    }

    <div id="main-container">
        <div id="main" class="wrapper clearfix">
            <section>
                @{ Html.RenderAction("RenderForm", "ContactSurface"); }
                <h2>@Model.PageTitle</h2>
                <p>@Model.BodyText</p>
            </section>
        </div> <!-- #main -->
    </div> <!-- #main-container -->
