<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Export" DateTime="Tuesday, April 17, 2018 9:27:50 AM">
  <Actions>
    <Action Change="Export" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="True/false" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - Page Title - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - Body Text - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - Footer Text - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - Article Footer - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - Article Footer - Textbox (1)" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - ArticleFooter1 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - ArticleFooter2 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - Article Title 1 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="HomePage - Article Title 2 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Simple Content Page - Body Text - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Articles Main - Articles Title - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Articles Main - Articles Body Text - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Articles Item" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Articles Main" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="HomePage" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Master" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Simple Content Page" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Articles Item" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Simple Content Page" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Articles Main" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="HomePage" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Folder" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Image" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="File" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="en-US" Type="ILanguage" />
    <Action Change="Export" Success="true" Message="" Name="Homepage" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Contact Us" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Articles" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Dilemma of using setState in React LifeCycle Hooks" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Let's use composition confidently" Type="IContent" />
  </Actions>
</uSync>